
.cabecalho__menu-hamburguer{
    width: 50px;
    height: 50px;
    background-image: url('/assets/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
}
.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("/assets/Menu Aberto.svg");

}

.container__botao:checked ~.container__rotulo{
    background: var(--azul-degrade);  
    

}

.cabecalho{
    background-color: var(--branco);
    display:flex;
    justify-content: space-between;
    align-items: center;    
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    gap: 1em;
    
}


.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
    height: 70vw;
    
    
}
.container__botao:checked ~ .lista__menu{
    display: block;
    
}

.lista__menu__item{
    padding: 1em;
    background-color: var(--branco);
    
      
}


.lista__menu__titulo{
    padding: 1em;
    color: var(--laranja);
    font-family: var(--fonte-principal);    
    font-weight: 700;
}
.lista__menu__link{
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;    
    font-family: var(--fonte-principal);
   
    
}

.container__titulo, .opcoes, .container__botao,.container__texto{
    display: none;

}


@media screen and (min-width: 1024px) {

    .container__titulo,.container__titulo--negrito{   
       
        font-family: var(--fonte-principal);        
        font-size: 1.5em;
        color: var(--azul);
        
    }
    .container__titulo{
        display: block;
        font-weight: 400;

    }
    .container__titulo--negrito{
        font-weight: 700;
        
    }
    .opcoes{
        display: flex;        
        gap: 1em;
        font-family: var(--fonte-principal);
        color: var(--azul);
        font-weight: 400;
        font-size: 1em;
        text-transform: uppercase;

    }
    .opcoes__item{
        color: var(--azul);
        padding-left: 1em;
    }
    .opcoes__link{
        text-decoration: none;
    }
   
    .container__coracao{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .opcoes__check-categorias:checked~ .lista__menu{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: auto;
        height: auto;
        
    }
    .opcoes__check-categorias{
        display: none;
    }

    .opcoes__check-categorias:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes__item{
        padding: 2em;
    }

    .lista__menu__item:hover{
        background: var(--azul-degrade);
       
    }

    .lista__menu__item:hover > .lista__menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--azul);       
    }
    .container__texto{
        display: block;
    }
    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
        padding-left: 2em;
        color: var(--azul);
    }
}

